body { margin: 0; padding: 0;	background-color: transparent; font: normal 62.5%/1 Arial, sans-serif; }
a, a:visited { text-decoration: none; color: #2d618b; }
a:hover { text-decoration: underline; }
p { font-size: 1em; margin: 0px; padding: 0px; }
h1 { margin: 0; padding: 10px; font-size: 3em; background-color: #222; font-weight: bold; color: #fff; border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; }
.clearfix { clear: both; }

/* Form layout styling */
#cm_form { width: 480px; background-color: #efefef; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin: 0 auto 20px; padding: 10px; }
#cm_form h2 { margin: 0px; color: #444; font-size: 16px; }
#cm_gray_top { padding: 10px; background-color: #f1f1f1; }
#cm_form_inner { background-color:#fff; margin:0; padding:10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#cm_form_outer { border: 1px solid transparent; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; padding: 8px; background: transparent url('/widgets/tab/v1/shade.gif') repeat left top; }
#cm_form_bottom { margin-top:8px; padding-top:3px; }
.form-container h2 { margin-top: 0px; color: #333333; font-size: 1.8em; }
.right-form { margin-left: 24px; float: left; width: 289px }

/* Style the form fields */
input, textarea { margin:0px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #d1d1d1; font: normal 1.2em Arial, sans-serif; padding:5px; width:208px; height: 15px; }
textarea { height:45px; width:445px; }
label { color: #333; display: block; font-size: 1.3em; font-weight: bold; margin-bottom: 2px; -webkit-text-size-adjust: none; }
label.required:after { content: "*"; }
.mailing-list-field { margin-top: 10px; }
.mailing-list-field input { width: 20px !important;	float: left; }
.mailing-list-field label { width: 250px;	float: left; padding-top: 2px; }
.label-for-field { display:inline !important; font-weight: normal !important; }
.medium-text-box { width: 441px !important; }
.cm-dropdown-select { float: left; }
.cm-dropdown-select ul { min-height: 10px; max-height: 200px; overflow-y: auto; } /* this adds scrolling */
#custom_form_fields_container { margin-left: -13px; }
#custom_form_fields_container .custom-fields { float: left; margin-left: 13px; min-width: 220px; min-height: 42px; margin-top: 10px; }
.infield-label-active { color: #ccc; }

/* checkboxes and radio buttons */
input.checkbox-field, input.radio-button-field { width: auto !important; border: auto !important; padding:0px; margin: 0px 5px 0px 0px; float: left; }
table.custom_two_column_table { border-collapse: collapse; border-spacing: 0px; }
table.custom_two_column_table td { width: 50%; padding: 4px 0; }
table.custom_two_column_table { width: 100%; }
table.custom_two_column_table input.checkbox-field, table.custom_two_column_table input.radio-button-field { margin: 0px 5px 0px 0px; padding: 0px; }
label.checkbox-label, label.radio-button-label { margin: 1px 0px 0px 0px; display:block; float: left; font-weight: normal; padding: 0px; }
label.vertical-checkbox-label, label.vertical-radio-button-label { width: 425px; }
table.custom_two_column_table label { width: 204px; }
.checkbox-container, .radio-button-container { float: left; padding: 4px 0px; }
.checkbox-vertical-clearance, .radio-button-vertical-clearance { clear: both; }
.field-spacing { margin-right: 10px; }


/* Main header image. either logo or map */
#cm_form_header_image { float: left; margin-right: 10px; position: relative; }

/* Map */
#small_map_icon { float: left; position: relative; left: 5px; background: transparent url('/images/form_builder_sprite.png') left -177px no-repeat; width: 55px; height: 51px; display: block; text-indent: -9999px }
img#map_image { border: 1px solid #CCC; } 
#map_image_container { display: block; position: absolute; width: 200px; height: 150px; top:0; left:0; background-image: url('/images/map_overlay.png'); text-indent: -9000px; }
#cm_form_map { width: 200px; height: 150px; }

/* Business Info */
#cm_form_business_address_container { }
#cm_form_business_info { float: left; color: #444; padding: 3px 0 0; font-size: 1.2em; line-height: 1.4em; width: auto; }
#cm_form_business_name { font-weight: bold; font-size: 16px; margin: 0px; margin-bottom: 5px; }
#cm_form_email { }
#cm_form_phone { }
#cm_form_email_phone_container { margin-top: 5px; }
.company-overview { width: 305px; float: left; }
.company-overview h2 { margin-top: 0px; color: #333333; }
.company-overview p { color: #606060; font-size: 1.2em; line-height: 1.4em; text-align: justify; }

/* Social contacts */
.contact-social { margin-top: 5px; width: auto; float: left; }
.contact-social .media { display: block; text-indent: -9999px; margin-right: 4px; float: left; background: transparent url('/images/cm_social_sprite_small.png') no-repeat left top; width: 24px; height: 24px; }
.contact-social #contact_facebook { background-position: -32px -1px; }
.contact-social #contact_twitter { background-position: -2px -1px; }
.contact-social #contact_linkedin { background-position: -88px -1px; }
.contact-social #contact_skype { background-position: -116px -1px; }
.contact-social a, .contact-social a:focus, .contact-social a:active { outline: 0 none; }
object#skypedetectionswf { width:0px; height: 0px; }

/* Captcha field */
.captcha-field { margin-top: 10px; }
.captcha-field img { vertical-align: middle; }
#captcha { width: 120px !important; }

/* Send Button */
#cm_send_message { border:0 none; float:left; margin:0px; padding:0px; width: auto !important; height: auto; }

/* Copyright notice */
#cm_get_your_own img { margin-bottom: -6px; }
#cm_get_your_own { color:#666; float:right; font-size: 1.4em; padding-top: 6px; line-height: 1.4em; }

/* Error messages */
.error-messages { margin-top: 5px; background-color: #d64a4a; color: #FFF; padding: 10px; border: 1px solid #d64a4a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.error-messages ul li { font-size: 12px; list-style: circle; margin-left: 15px; }
.error-messages h2 { color: #FFF; font-size: 16px; }
.infield-label { color: #ccc; }
.inline-error { color: #d64a4a !important; }
.title-error { color: #d64a4a !important; font-weight: bold !important; }
input.inline-error, textarea.inline-error { border-color: #d64a4a !important; }
.field_with_errors { display: inline; }

/* Styles for custom dropdowns */
.cm-dropdown-select { float: left; outline: none; display: block; cursor: pointer; position: relative; font-size: 13px !important; font-family: Arial, sans-serif !important; color: #767368 !important; }
.cm-dropdown-active .cm-dropdown-selected { color: #bbb; }
.cm-dropdown-options { z-index: 10; display: none; position: absolute; top: 8px; left: 0; background-color: #fff; border: 1px solid #ccc9bc; border-top: 0 none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 5px 0; }
.cm-dropdown-options li { cursor: pointer; padding: 5px 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -moz-binding: url('/xml/ellipsis.xml'); }
.cm-dropdown-options li:hover { background-color: #f1f1f1; }
.cm-dropdown-select a { margin: 0 !important; }
.cm-dropdown-selected { background: transparent url('/images/cm_dropdown_sprite.png') no-repeat left top; height: 17px; float: left; padding: 7px 10px 3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -o-text-overflow: ellipsis; }
.cm-dropdown-error { color: #D64A4A; }
.cm-dropdown-arrow { outline: none; background: transparent url('/images/cm_dropdown_sprite.png') no-repeat left bottom; height: 27px; float: right; width: 28px; text-indent: -9000px; }
.cm-dropdown-select ul { min-height: 10px; max-height: 200px; overflow-y: auto; }

/* Styling for Custom Field Address */
.custom-field-address-city { margin-left: 13px; }
.custom-field-address-state { margin-top: 10px; float: left; }
.custom-field-address-postal-code { margin-left: 13px; margin-top: 10px; }
.custom-field-address-country { margin-top: 10px; }

/* Styling for Custom Field Date and Time */
.custom-field-time-hour { margin-right: 5px; }
.custom-field-time-minute { margin-right: 5px; }
.custom-field-time-meridian {}
.custom-field-time-hour ul > li, .custom-field-time-minute ul > li, .custom-field-time-meridian ul > li { padding: 5px 0; text-align: center; }

/* Styling for Custom Field Date */
.custom-field-date-day { margin-right: 5px; }
.custom-field-date-month { margin-right: 5px; }
.custom-field-date-year {}
.custom-field-date-day ul > li, .custom-field-date-month ul > li, .custom-field-date-year ul > li { padding: 5px 0; text-align: center; }
.custom-field-date-time-year { margin-right: 5px; }

/* Success Message styling */
#cm_success_page { background-color: #FFF; padding: 20px 15px 25px; }
#cm_success_page p { padding: 10px 0px; }
#cm_success_page p#cm_success_icon { font-size: 1.4em; float: left; padding: 10px; }
#cm_success_page p#cm_success_message { font-size: 1.8em; padding-top: 0px; color: #999; line-height:1.4em; }
#cm_success_page p#cm_success_heading { font-size: 2.5em; font-weight: bold; padding-bottom: 5px; }
#cm_success_page #cm_success_content { float: left; padding-right: 10px; }

/* Thank you page social icons */
.contact-social-thankyou { padding: 0px; margin-left: 20px; font-size: 1.4em; color: #999; }
.contact-social-thankyou a { float: left; line-height: 24px; padding: 5px 10px; width: 170px; }
.contact-social-thankyou span { float: left; }

/* Date picker fields */
input.date_input { float: left; width: 175px !important; -moz-border-radius: 5px 0 0 5px !important; -webkit-border-radius: 5px 0 0 5px !important; border-radius: 5px 0 0 5px !important; border-right: none !important; }
img.date_input_trigger { float: left; cursor: pointer; border:none; vertical-align: bottom; height: 27px; }
img.field-space { margin-right: 5px; }
